<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>두산 선발라인업</h1>
        <p style="font-size:60px">1번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=50202">안권수</a> 중견수</p>
        <p style="font-size:60px">2번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=69209">페르난데스</a> 지명타자</p>
        <p style="font-size:60px">3번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=64153">양석환</a> 1루수</p>
        <p style="font-size:60px">4번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=78224">김재환</a> 좌익수</p>
        <p style="font-size:60px">5번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=63257">김인태</a> 우익수</p>
        <p style="font-size:60px">6번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=63123">강승호</a> 2루수</p>
        <p style="font-size:60px">7번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=62244">박세혁</a> 포수</p>
        <p style="font-size:60px">8번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=64468">박계범</a> 3루수</p>
        <p style="font-size:60px">9번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=51203">안재석</a> 유격수</p>
        <p style="font-size:60px">선발투수 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=67263&tab=record">최원준</a>선발투수</p>
    </body>
</html>
