<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>삼성 선발라인업</h1>
        <p style="font-size:60px">1번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=50458&tab=record">김지찬</a> 2루수</p>
        <p style="font-size:60px">2번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=51463&tab=record">피렐라</a> 좌익수</p>
        <p style="font-size:60px">3번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=62404&tab=record">구자욱</a> 우익수</p>
        <p style="font-size:60px">4번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=75334&tab=record">오재일</a> 1루수</p>
        <p style="font-size:60px">5번타자 <a href="https://m.sports.naver.com/player/index?category=kbo&tab=record&from=sports&playerId=74540">강민호</a> 포수</p>
        <p style="font-size:60px">6번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=78756&tab=record">오선진</a> 3루수</p>
        <p style="font-size:60px">7번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=65132&tab=record">김재성</a> 지명타자</p>
        <p style="font-size:60px">8번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=69416&tab=record">이해승</a> 유격수</p>
        <p style="font-size:60px">9번타자 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=51417&tab=record">김현준</a> 중견수</p>
        <p style="font-size:60px">선발투수 <a href="https://m.sports.naver.com/player/index?from=sports&category=kbo&playerId=69446&tab=record">원태인</a>선발투수</p>
    </body>
</html>
